html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}


body {
  font-family: 'Open Sans', sans-serif;
}


/* Header */

header {
  height: 50px;
  box-shadow: 0px -5px 20px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
}

header>nav {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 900px;
}

.user-nav {
  display: flex;
  padding: 5px;
}

.profile-pic {
  background-color: #028af4;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.user-nav h2.rating {
  font-size: 20px;
  padding: 5px 15px 5px 15px;
}


/* Main */

main {
  max-width: 900px;
  margin: auto;
}

.problem-title {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.problem-body {
  display: flex;

}

.sidebar {
  width: 300px;
  padding: 10px;
}

.sidebar p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px 5px 0px;
}

strong {
  font-weight: 700;
}

.problem {
  padding: 10px;
}

.problem textarea {

}

.gray-box {
  background: #f7f8f9;
  color: #555;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.solution-buttons {
  display: flex;
  justify-content: space-around;
}

.solution button {
  margin: 10px 0px 10px 0px;
  padding: 5px 15px 5px 15px;
  transition: 0.1s background ease-in-out;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,0.2);
}

.done-button {
  background: #1a2;
}

.done-button:hover {
  background: #4d3;
}

.skip-button {
  background: #888;
}

.skip-button:hover {
  background: #aaa;
}
